body {
    background-color: #000000;
    color: red;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
}

.nav {
  padding-top: 25px;
  padding-right: 90px;
  padding-bottom: 10px;
  padding-left: 50px;
  background: black;
}

.nav a {
  color: red;
  font-size: 25px;
  font-weight: bold;
  padding: 14px 10px;
  font-family: 'Marko One', serif;
  /* text-transform: uppercase; */
}

.nav li {
  display: inline;
}

.container h1 {
  color: red;
  font-size: 60px;  
  font-weight: bold;
  font-family: 'Marko One', serif;
}

.container h2 {
  color: red;
  font-size: 50px;  
  font-weight: bold;
}
 
.container p {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.container .form-group {
  font-size: 18px;
  font-weight: bold;
  color: #FF0000;
}

#username {
  border-radius: 10px;
  border: none;
  padding-right: 50px;
  padding-left: 10px;
  padding-bottom: 2px;
} 

#tweet {
  border-radius: 10px;
  border: none;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 2px;
} 

#location {
  border-radius: 10px;
  border: none;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 2px;
} 

.venue {
  font-size: 1.3em;
  color: red;
}

.rating {
  font-size: 1.3em;
  color: white;
}

.snippet p {
  font-size: 0.7em;
  color: white;
  text-align: justify;
}

/* unvisited link */
.venue a {
    color: red;
    font-size: 1.3em;
}

/* visited link */
.venue a:visited {
    font-size: 1.3em;
    color: #AAAAAA;
}

.lead p {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.small_logo p {
    font-size: 2.0em;
    color: white;
}

.small_logo a {
    font-size: 24px;
    color: red;
    font-family: 'Marko One', serif;
}

.venueimage img {
  /*text-align: center;*/
  /*padding:1px;*/
  /*width:80%;*/
  position:relative;
  box-shadow: 0px 0px 15px red;
  background: rgb(255,255,255); /* Fallback for older browsers without RGBA-support */
  background: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
}

.ratingstars img {
  /*text-align: center;*/
  padding:3px;
  /*width:80%;*/
  position:relative;
  /*box-shadow: 0px 0px 1px white;*/
  background: rgb(255,255,255);  
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
}
