<!DOCTYPE html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
   <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
   <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

   <link rel="stylesheet" href="https://rawgit.com/lvoogdt/Leaflet.awesome-markers/2.0/develop/dist/leaflet.awesome-markers.css">
   <script src="https://rawgithub.com/lvoogdt/Leaflet.awesome-markers/2.0/develop/dist/leaflet.awesome-markers.js"></script>


   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css">
   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css">
   <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster-src.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>

   <link rel="stylesheet" href="http://birdage.github.io/Leaflet.awesome-markers/dist/leaflet.awesome.rotate.css">

   
   
   
   

   <style>

      html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #map {
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
      }

   </style>
</head>

<body>

   <div class="folium-map" id="folium_00fa2c5a032e492f94c79119cddb2c24" style="width: 100%px; height: 500px"></div>

   <script>

      

      var base_tile = L.tileLayer('http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.jpg', {
          maxZoom: 18,
          attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.'
      });

      var baseLayer = {        
        "Base Layer": base_tile
      };

      /*
      addition of the wms layers
      */ 

      
      
      /*
      addition of the tile layers
      */
      

      /*
      list of layers to be added
      */ 
      var layer_list = {
      
      };

      /*
      Creates the map and adds the selected layers
      */
      var map = L.map('folium_00fa2c5a032e492f94c79119cddb2c24', {
                                       center:[37.4270995, -122.1440607],
                                       zoom: 10,
                                       layers: [base_tile]
                                     });

      L.control.layers(baseLayer, layer_list).addTo(map);

      //cluster group
      var clusteredmarkers = L.markerClusterGroup();
      //section for adding clustered markers
      
      //add the clustered markers to the group anyway
      map.addLayer(clusteredmarkers);

      
      var marker_1_icon = L.AwesomeMarkers.icon({ icon: 'info-sign',markerColor: 'red',prefix: 'glyphicon',extraClasses: 'fa-rotate-0'});
      var marker_1 = L.marker([37.4254799, 
							-122.1471329],
							{'icon':marker_1_icon}
							);
      marker_1.bindPopup("Jack In The Box");
      map.addLayer(marker_1)
      
      var marker_2_icon = L.AwesomeMarkers.icon({ icon: 'info-sign',markerColor: 'red',prefix: 'glyphicon',extraClasses: 'fa-rotate-0'});
      var marker_2 = L.marker([37.423819676, 
							-122.143207267],
							{'icon':marker_2_icon}
							);
      marker_2.bindPopup("Chipotle Mexican Grill");
      map.addLayer(marker_2)
      
      var marker_3_icon = L.AwesomeMarkers.icon({ icon: 'info-sign',markerColor: 'red',prefix: 'glyphicon',extraClasses: 'fa-rotate-0'});
      var marker_3 = L.marker([37.444838807, 
							-122.162743807],
							{'icon':marker_3_icon}
							);
      marker_3.bindPopup("Subway");
      map.addLayer(marker_3)
      
      var marker_4_icon = L.AwesomeMarkers.icon({ icon: 'info-sign',markerColor: 'red',prefix: 'glyphicon',extraClasses: 'fa-rotate-0'});
      var marker_4 = L.marker([37.425903, 
							-122.144722],
							{'icon':marker_4_icon}
							);
      marker_4.bindPopup("Mediterranean Wraps");
      map.addLayer(marker_4)
      
      var marker_5_icon = L.AwesomeMarkers.icon({ icon: 'info-sign',markerColor: 'red',prefix: 'glyphicon',extraClasses: 'fa-rotate-0'});
      var marker_5 = L.marker([37.4209462408, 
							-122.093326092],
							{'icon':marker_5_icon}
							);
      marker_5.bindPopup("In-N-Out Burger");
      map.addLayer(marker_5)
      

      

      

      

      

   </script>

</body>